altgraph==0.17
bottle==0.12.18
bottle-websocket==0.2.9
cffi==1.14.2
Eel==0.14.0
future==0.18.2
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
Jinja2==2.11.2
MarkupSafe==1.1.1
pefile==2019.4.18
Pillow==7.2.0
pycparser==2.20
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pyparsing==2.4.7
pywin32-ctypes==0.2.0
whichcraft==0.6.1
zope.event==4.4
zope.interface==5.1.0
