body {
    background-color: gainsboro;
}

.content-area {
    margin: 30px;
}

/* Image */
.image-canvas {
    overflow: auto;
    height: 500px;
    width: 100%;
}


/* Toolbox */
.toolbox-tile {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    text-align: center;
    border-top: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}
.toolbox-tile:hover {
    background-color: gainsboro;
}

.btn-area {
    cursor: pointer;
}

.toolbox-title {
    font-size: 1.3em;
    padding-bottom: 10px;
    font-weight: 400;
}

/* Labels */
.label-box {
    height: 300px;
    overflow-y: scroll;
}

.selected-label {
    padding-right: 8px;
    background-color: #388e3c;
    color: white;
}

.unselected-label {
    padding-right: 8px;
    background-color: gainsboro;
}

.unselected-label:hover {
    background-color: #388e3c;
    color: white;
}

/* File list */
.filename-row {
    height: 40px;
    padding: 5px;
    cursor: pointer;
    border-top: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}
.filename-row:hover {
    background-color: gainsboro;
}

.selected-filename-row {
    background-color: gainsboro;
}

.filelist-box {
    height: 350px;
    overflow-y: scroll;
}